body {
    background-color: crimson;
}

.company-label {
    text-align: right;
}

.input-group-text {
    min-width: 170px;
    /* font-family: 'Pangolin', cursive; */
}

#createCompany {
    /* font-family: 'Chango', cursive; */
}