body {
    background-color: crimson;
    /* animation: blink 10s infinite;
    -webkit-animation: blink 10s infinite;  */
}

.company-label {
    text-align: right;
}

.input-group-text {
    min-width: 170px;
    /* font-family: 'Pangolin', cursive; */
}

#createCompany {
    font-family: 'Chango', cursive;
}

.card-header {
    font-family: 'Chango', cursive;
}


.card {

}



@keyframes blink {
    15% {
        background:red
    }
    30% {
        background:yellowgreen
    }
    42% {
        background:violet
    }
    58% {
        background:plum
    }
    85% {
        background:orangered
    }
    100% {
        background:blue
    }
}

@-webkit-keyframes blink {
    15% {
        background:red
    }
    30% {
        background:yellowgreen
    }
    42% {
        background:violet
    }
    58% {
        background:plum
    }
    85% {
        background:orangered
    }
    100% {
        background:blue
    }
}