body {
    height: 100vh;
    width: 100%;   
    background-image: url('');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    transition: 20s;

    animation-name: animate;
    animation-direction:  alternate-reverse;
    animation-duration: 60s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    /* animation: blink 10s infinite;
    -webkit-animation: blink 10s infinite;  */
}

.company-label {
    text-align: right;
}

.input-group-text {
    min-width: 170px;
    /* font-family: 'Pangolin', cursive; */
}

#createCompany {
    font-family: 'Chango', cursive;
}

.card-header {
    font-family: 'Chango', cursive;
}


.card {

}


@keyframes animate {
    0%{
        background-image: url('backgroundimg/blueprints-894779_1920.jpg');
    }20%{
        background-image: url('backgroundimg/luxury-home-2409518_1920.jpg');
    }40%{
        background-image: url('backgroundimg/luxury-home-2412145_1920.jpg');
    }60%{
        background-image: url('backgroundimg/scaffold-1207389_1920.jpg');
    }80%{
        background-image: url('backgroundimg/new-home-1540875_1920.jpg');
    }100%{
        background-image: url('backgroundimg/housebuilding-3370969_1920.jpg');
    }



}





















@keyframes blink {
    15% {
        background:red
    }
    30% {
        background:yellowgreen
    }
    42% {
        background:violet
    }
    58% {
        background:plum
    }
    85% {
        background:orangered
    }
    100% {
        background:blue
    }
}

@-webkit-keyframes blink {
    15% {
        background:red
    }
    30% {
        background:yellowgreen
    }
    42% {
        background:violet
    }
    58% {
        background:plum
    }
    85% {
        background:orangered
    }
    100% {
        background:blue
    }
}