body {
    height: 100vh;
    width: 100%;   
    background-image: url('');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    transition: 5s;

    animation-name: animate;
    animation-direction:  alternate-reverse;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}

.company-label {
    text-align: right;
}

.input-group-text {
    min-width: 170px;
    /* font-family: 'Pangolin', cursive; */
}

#createCompany {
    font-family: 'Permanent Marker', cursive;
    /* font-family: 'Chango', cursive; */
}

.card-header {
    /* font-family: 'Permanent Marker', cursive; */
}


.card {

}

/* .construction-image {
    clip-path: circle(42%);
    height:400px;
    width:400px;
    margin: auto 0;
} */

.construction-image {
    border-radius: 20px;
    /* border-collapse: separate;
    overflow: hidden;
    perspective: 1px; */
    /* padding:50px; */
    width:40%;
    
}

@keyframes animate {
    0%{
        background-image: url('../images/backgroundimg/blueprints-894779_1920.jpg');
    }20%{
        background-image: url('../images/backgroundimg/luxury-home-2409518_1920.jpg');
    }40%{
        background-image: url('../images/backgroundimg/luxury-home-2412145_1920.jpg');
    }60%{
        background-image: url('../images/backgroundimg/scaffold-1207389_1920.jpg');
    }80%{
        background-image: url('../images/backgroundimg/new-home-1540875_1920.jpg');
    }100%{
        background-image: url('../images/backgroundimg/housebuilding-3370969_1920.jpg');
    }
}

.dropdown {
    text-align: center;
    padding-top: 250px;
}

.dropdown-menu {
    background-color: rgba(83, 83, 83, 0.993);
}

.dropdown-item {
    text-align: center;
    width: 415px;
}

.dropdown-item h2 {
    color: ivory;
}

.container-flex h1 {
    text-align: center;
    padding-top: 100px;
}

.flex-column {
    text-align: center;
}

















@keyframes blink {
    15% {
        background:red
    }
    30% {
        background:yellowgreen
    }
    42% {
        background:violet
    }
    58% {
        background:plum
    }
    85% {
        background:orangered
    }
    100% {
        background:blue
    }
}

@-webkit-keyframes blink {
    15% {
        background:red
    }
    30% {
        background:yellowgreen
    }
    42% {
        background:violet
    }
    58% {
        background:plum
    }
    85% {
        background:orangered
    }
    100% {
        background:blue
    }
}